<footer class="main-footer">
    <div class="footer-container">
        
        <div class="footer-links">
            <div class="footer-col">
                <h3>GAME</h3>
                <ul>
                    <li><a href="#">Tin Game</a></li>
                    <li><a href="#">Đánh Giá</a></li>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Chuyên Đề</a></li>
                    <li><a href="#">Hướng Dẫn</a></li>
                    <li><a href="#">Lịch Phát Hành</a></li>
                </ul>
                <h3 class="extra-heading"><a href="#">GAME MIỄN PHÍ</a></h3>
            </div>

            <div class="footer-col">
                <h3>GAMING GEAR</h3>
                <ul>
                    <li><a href="#">Tin Gaming Gear</a></li>
                    <li><a href="#">Đánh Giá</a></li>
                    <li><a href="#">Đánh Giá Nhanh</a></li>
                </ul>
                <h3 class="extra-heading"><a href="#">SỰ KIỆN</a></h3>
            </div>

            <div class="footer-col">
                <h3>GADGETS</h3>
                <ul>
                    <li><a href="#">Tin Gadgets</a></li>
                    <li><a href="#">Đánh Giá</a></li>
                    <li><a href="#">Trên Tay</a></li>
                    <li><a href="#">Công Nghệ</a></li>
                </ul>
                <h3 class="extra-heading"><a href="#">QUẢNG CÁO</a></h3>
            </div>

            <div class="footer-col">
                <h3>ESPORTS</h3>
                <ul>
                    <li><a href="#">Tin eSports</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-brand">
            <div class="footer-logo">
                <span class="red-text">PTIT</span><span class="white-text">GAME</span>
            </div>

            <div class="social-icons">
                <a href="https://www.facebook.com/huy.tuan.638956/" class="icon icon-fb" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                
                <a href="#" class="icon icon-yt" title="Youtube"><i class="fa-brands fa-youtube"></i></a>
                
                <a href="#" class="icon icon-discord" title="Discord"><i class="fa-brands fa-discord"></i></a>
                
                <a href="#" class="icon icon-group" title="Cộng đồng"><i class="fa-solid fa-users-gear"></i></a>
            </div>

            <ul class="brand-links">
                <li><a href="https://www.facebook.com/huy.tuan.638956/">Liên hệ</a></li>
                <li><a href="https://www.facebook.com/huy.tuan.638956/">Ủng hộ</a></li>
                <li><a href="https://www.facebook.com/huy.tuan.638956/">Quảng cáo</a></li>
            </ul>

            <div class="copyright">
                <p>© 2026 <strong>PTITGAME</strong></p>
                <p>All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>